body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section {
  width: 360px;
  height: 240px;
  display: flex;
  flex-direction: column;

  padding: 1rem 3rem;
  border-radius: 1rem;
}

.login-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

h1 {
  color: blue;
  font-size: 4rem;
  margin-bottom: 2rem;
}

#loginBtn {
  text-align: center;
  padding: 1rem 1rem;
  color: white;
  background-color: blue;
  border-radius: 1rem;

  text-transform: uppercase;
  border: none;
  font-weight: 700;
}

label {
  font-weight: 600;
  color: blue;
}

input {
  border-radius: 1rem;
  padding: 1rem;
  border: none;
  outline: 1px solid grey;
  margin-bottom: 1rem;
}
