nav {
  display: flex;
  justify-content: space-between;
  background-color: blue;
  padding: 2rem 1rem;
  margin-bottom: 3rem;
}

h1 {
  font-size: 3rem;
  color: white;
}

ul {
  display: flex;
}

li {
  list-style: none;
  margin: 1rem 4rem;
}

a {
  text-decoration: none;
  font-size: 1rem;
  color: white;
  font-weight: 700;
}

section {
  width: 30vw;
  margin: auto;
}

h3,
label,
.amount {
  color: blue;
}

h3 {
  font-weight: 700;
  margin-bottom: 1rem;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

input {
  border-radius: 1rem;
  padding: 1rem;
  border: none;
  outline: 1px solid grey;
  margin-bottom: 1rem;
}

button {
  background-color: blue;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1rem;
}

.transaction-container {
  margin-top: 5rem;
}

.transaction-container h4 {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

#history {
}

.history-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 0.8rem;
  background-color: #f9f6ee;
  border-radius: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

#history .history-item p {
  font-size: 1rem;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#history .history-item p span {
  font-size: 2rem;
  font-weight: 600;
  margin-left: 3rem;
  text-align: end;
}

#history .history-item p .mobile-number {
  font-size: 1rem;
}
