nav {
  display: flex;
  justify-content: space-between;
  background-color: blue;
  padding: 2rem 1rem;
  margin-bottom: 3rem;
}

h1 {
  font-size: 3rem;
  color: white;
}

ul {
  display: flex;
}

li {
  list-style: none;
  margin: 1rem 1rem;
}

.nav-btn {
  font-size: 0.9rem;
  color: white;
  font-weight: 700;
  border: none;
}

section {
  width: 30vw;
  margin: auto;
}

section h3 {
  font-size: 0.8rem;
  display: block;
}

h3 #txtBalance {
  font-size: 2rem;
}

.balance {
  padding: 3rem;
  background-color: white;
  box-shadow: 1rem 1rem 1rem 1rem #aaaaaa;
  width: 50vw;
  height: 50vw;

  /* display: none; */
  position: absolute;

  top: 0;
  left: 0;

  transform: translate(50%, 50%);

  border-radius: 1rem;
}

.balance .balance-container {
  display: flex;

  flex-direction: column;
  gap: 1rem;
  justify-content: left;
}

.balance-container h2 {
  font-size: 2rem;
}

h3,
label,
.amount,
.balance-container h2 {
  color: blue;
}

h3 {
  font-weight: 700;
  margin-bottom: 1rem;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

input {
  border-radius: 1rem;
  padding: 1rem;
  border: none;
  outline: 1px solid grey;
  margin-bottom: 1rem;
}

button {
  background-color: blue;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1rem;
}

.transaction-container {
  margin-top: 5rem;
}

.transaction-container h4 {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.balance-container .cancel-btn {
  background-color: red;
}

#history {
}

.history-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 0.8rem;
  background-color: #f9f6ee;
  border-radius: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

#history .history-item p {
  font-size: 1rem;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#history .history-item p span {
  font-size: 2rem;
  font-weight: 600;
  /* margin-left: 3rem; */
  /* text-align: end; */
}

#history .history-item p .mobile-number {
  font-size: 1rem;
  text-align: start;
}
